{% extends 'base.html' %}

{% block content %}
    <form method="get" action="{% url 'books:home' %}">
        {% csrf_token %}
        <input type="text" placeholder="Search books by name" name="qname">
        <input type="text" placeholder="Search books by category" name="qcategory">
        <input type="submit" name="submit">
    </form>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% empty %}
            <p>No category found.</p>
        {% endfor %}
    </ul>
    <ul>
        {% for book in books %}
            <li>{{ book.title }}</li>
            <li>{{ book.description }}</li>
            <li>{{ book.author }}</li>
            <li>{{ book.category.name }}</li>
        {% empty %}
            <p>No book found.</p>
        {% endfor %}
    </ul>
{% endblock content %}
